<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name ="xmlDB" providerName="Npgsql" connectionString="Server=localhost;Port=5432;Database=xmltest;User Id=xmluser;Password=abc123;" />
  </connectionStrings>
</configuration>
